.button{
    text-decoration: none;
    border: 1px solid blue;
    color: white;
    text-align: center;
    padding: 8px 32px;
    display: inline-block;
    margin-top: 80px;
    margin-left: 80%;
    cursor: pointer;
    transition-duration: .3s;
}
.button:hover{
    background-color: white;
    color: blue;
}
.btn{
    width: 30%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius:5px;
    margin-top: 5px;
    cursor: pointer;
    transition-duration: .3s;
}
.btn-primary{
    background-color: white;
    color: #6A9C89;
}
.btn-primary:hover{
    box-shadow:  rgb(234, 232, 232) 0px 0px 0px 5px;
}
.btn-welcome{
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    height: 30px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition-duration: .6s;
}
.btn-welcome:hover{
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
}
.btn-gray{
    width: 10%;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: rgb(84, 83, 83);
    color: white;
    transition-duration: .3s;
}
.btn-gray:hover{
    background-color: rgb(163, 162, 162);
}