
*{margin: 0}
body{box-sizing: border-box;}
.renkarka_amber{
    background-color: #FFA725;
}
.renkyazi_amber{
    color: #FFA725;
}
.renkarka_white{
    background-color: #FFF5E4;
}
.renkyazi_white{
    color: #FFF5E4;
}
.renkarka_green{
    background-color: #C1D8C3;
}
.renkyazi_green{
    color: #C1D8C3;
}
.renkarka_darkgreen{
    background-color: #6A9C89;
}
.renkyazi_darkgreen{
    color: #6A9C89;
}
header{
    margin-bottom: 20px;
    padding: 40px;
}
.sub-header{
    margin-bottom: 20px;
    padding: 40px;
}
.sub-header h2{
    margin-bottom: 10px;
}
.tarif-detail{
    padding: 40px;
}
.tarif-detail h2{
    margin-bottom: 10px;
}
#sorusor{
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 40px;
}
#sorusor h3{
    margin-bottom: 20px;
}
footer{
    margin-top: 20px;
    padding: 40px;
}