
*{margin: 0;padding: 0;box-sizing: border-box;}
body{height: 100%;}
html{height: 100%;}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header{
    padding: 40px;
    height: 10%;
    background-color: #FFA725;
    color: whitesmoke;
}
header h1{
    float: left;
}
.sub-header{
    padding: 40px;
    height: 10%;
}
.sub-header h2{
    margin-bottom: 10px;
}
#cover{
    background-color: #FFA725;
    height: 100%;
    opacity: 0.2;
}
.headerimg{
    width: 100%;
    height: 100%;
    background-image: url("images/sofra.jpg");
    background-size: cover;
    margin-bottom: 100px;
}
.articles{
    width: 100%;
    height: 30%;
    margin-bottom: 100px;
}
.article-item{
    background-color: antiquewhite;
    width: 24%;
    height: 100%;
    float: left;
    margin-right: 8px;
    text-align: center;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.article-item-head{
    color: blue;
    margin-bottom: 10px;
}
.aricle-item-p{
    color: gray;
}
.i-style{
    width: 50px;
    height: 50px;
    border: 2px solid blue;
    border-radius: 40px;
    text-align: center;
    padding: 14px;
    margin: 5px auto;
    color: blue;
    font-size: 20px;
}
.hakkimizda-section{
    width: 100%;
    height: 60%;
    background-color: gray;
    margin-bottom: 120px;
}
.hakkimizda-section img{
    width: 50%;
    height: 100%;
    float: left;
}
.hakkimizda-div{
    width: 50%;
    height: 100%;
    padding: 60px;
    float: left;
}
.hakkimizda-p{
    color: white;
    font-size: 18px ;
    margin-top: 30px;
}
.hakkimizda-link{
    text-decoration: none;
}
.hakkimizda-link :hover{
    background-color: white;
    color: blue;
    border: none;
}
#tarifler{
    width: 100%;
    margin-bottom: 120px;
}
.tarif-detail{
    width: 28%;
    border: 2px solid #FFA725;
    text-align: center;
    padding: 50px;
    height: 640px;
    margin-bottom: 30px;
    margin-left: 30px;
    float: left;
}
.tarif-detail h2{
    margin-bottom: 20px;
    margin-top: 10px;
}
.tarif-detail img{
    width: 200px;
    height: 200px;
}
.recipe{
    padding: 10px;
}
#sorusor{
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 40px;
}
.formback{
    width: 30%;
    height: 100%;
    margin: auto;
    padding: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 2px;
}
#iletisim-form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }

footer{
    margin-top: 100px;
    padding: 40px;
    height: 20%;
    background-color: #FFA725;
}